.btn-custom {
    background-color: #0d2b56;
    color: white;
    border: none;
  }
  .btn-custom:hover {
    background-color: #FF6500;
  }
  .social-btn {
    border: 1px solid #ddd;
  }
  .social-btn:hover {
    border: 1px solid #FF6500;
    background-color: white;
  }
.password{
    color: #FF6500;
}
.form-control{
    border: 1px solid rgba(13, 43, 86, 0.4);
}
img{
    width: 15px;
  }